button:disabled, select:disabled, input:disabled, input:disabled + label {
  display: none;
}

#control-panel button:disabled + br {
  display: none;
}
@media screen and (orientation:portrait) {
  #control-panel br {
    display: none;
  }
}

#history {
  max-height: 70%;
  overflow-y: auto;
  padding-right: 2em;
}

/* Get the layout */
#player-2 {
  -webkit-transform: rotate(270deg);
  transform: translate(-3.5em, 3.5em) rotate(270deg);
}
#player-3 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#player-4 {
  -webkit-transform: rotate(90deg);
  transform: translate(-3.5em, 3.5em) rotate(90deg);
}
#player-1, #player-2, #player-3, #player-4 {
  width: 11em;
  height: 4em;
  white-space: nowrap;
}
#outer-player-2, #outer-player-4 {
  width: 4em;
  height: 11em;
  vertical-align: middle;
}
#centerboard {
  width: 11em;
  height: 11em;
  vertical-align: middle;
  border: 1px solid black;
}
#player-1, #outer-player-2, #player-3, #outer-player-4 {
  display: inline-block;
}
#middle-row {
  white-space: nowrap;
}
#mainboard {
  text-align: center;
  font-size: 5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@media screen and (orientation:landscape) {
  #mainboard {
    font-size: 5vh;
  }
}

/* Adjust button sizes */
#mainboard button, #mainboard select, #mainboard input, #mainboard label {
  font-size: 0.667em;
}

/* Prevent #mainboard blocking buttons */
#mainboard {
  pointer-events: none;
}
button, select, input, label {
  pointer-events: auto;
}

/* Centering items in the middle */
#centerboard {
  display: inline-flex;
  align-items: center;
}
#innercenterboard {
  margin-left: auto;
  margin-right: auto;
}

/* NEW GAME! */
.newgame-n {
  color: #fabf15;
}
.newgame-e1 {
  color: #c3d83f;
}
.newgame-w {
  color: #b5b295;
}
.newgame-g {
  color: #c37bb1;
}
.newgame-a {
  color: #95d0b6;
}
.newgame-m {
  color: #ed7980;
}
.newgame-e2 {
  color: #81cddb;
}
.newgame-exclam {
  color: #f18f57;
}
